*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    min-height: 1000px;
   justify-content: flex-end;
   align-items: flex-end;
   align-items: center;
   text-align: center;
   overflow-x: hidden;
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/fundo.jpg);
    background-size: cover;
    object-fit: cover;
    object-position: left ;
    overflow: hidden;
}

.banner .content,
.ambiente .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2,
.ambiente .content h2{
    font-size: 2.5em;
    color: var(--cor-do-texto);
}
.banner .content p
.ambiente .content p{
    font-size: 1em;
    color: var(--cor-do-texto);
}

header
{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 10000;
justify-content: space-between;
display: flex;
align-items: center;
transition: 0.5s;
font-family: Arial, Helvetica, sans-serif;
}
header.sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header.sticky .logo
{
    color: #111;
}
header .logo
{
    color: whitesmoke;
    font-weight: 700;
    font-size: 2.6em;
    text-decoration: none;
}
header .logo span
{
    color: aqua;
}
span{
    color: rgb(36, 47, 206);
}
header .navigation
{
    position: relative;
     display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation.active
{
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
}
header .navigation li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1.4em;
}
header.sticky .navigation li a{
    color: #111;
}
header.sticky .navigation li a:hover{
    color: aqua;
}
header .navigation li a:hover
{
    color: aqua;
}

.titulo{
    color: aqua;
    font-size: 3.5em;
    font-family: sans-serif;
}
.subtitulo{
    font-size: 1.9em;
    color: white;
    font-family: sans-serif;
}
@media (min-width: 768px) {
   
    #navbar div.navbar-header {
        float: none;
    }
}

@media(max-width: 991px)
{
    .menuhamburguer
{
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../img/menu.png);
  background-size: 30px;
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
}
.menuhamburguer.active
{
  background : url(../img/saida.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
header .navigation li{
    margin-left: 0;
}
header .navigation li a{
   
    color: #111;
    font-size: 1.6em;
}
header.sticky .menuhamburguer
{
    filter: invert(1);
}
    header,
    header.sticky{
        padding: 10px 20px;
     
    }
    header.sticky
    {
        display: none;
    }
    header .navigation
    {
        display: none;
    }
   
    }

.titulohistoria{
    font-size: 3.2em;
    text-align: center;

}.textohistoria{
    font-size: 1.3em;
    text-align:left;
    align-items: center;
    margin-left: 4.4em;
}
.titulo,
.subtitulo{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1.0s ease 0.9s animacaoprojetos forwards;
  }
  @keyframes animacaoprojetos {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
}
.titulohistoria,
.textohistoria,
.imagemhistoria
{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 0.5s ease 0.9s animacaoTitulo forwards;
  }
  @keyframes animacaoTitulo {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
}
.projetos{
    text-align: center;
    font-size: 1.9em;
    align-items: center;
}

.projetos{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1.9s ease 0.9s animacaoprojetos forwards;
  }
  @keyframes animacaoprojetos {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
}
.linguagens{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 2.7s ease 0.9s animacaolinguagens forwards;
  }
  @keyframes animacaolinguagens {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
}
.hobbies{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 3.8s ease 0.9s animacaohobbies forwards;
  }
  @keyframes animacaohobbies {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
}
#cartao{
    border: 4px solid;
    border-image: linear-gradient(155deg, #1355d1 0%, #0eccbc 100%) 1;
    align-items: center;
    text-align: center;

    width: 100%;

}

.card-text{
    font-size: 0.8em;

}

.card-title{
    font-size: 1.1em;
}
#text-calc{
    font-size: 1.0em;
}
#imagemcard{
    width: 100%;
    height: 6.4em;
}
.linguagens{
    text-align: center;
    font-size: 1.4em;
    align-items: center;
}
#cartao{
    border: 4px solid;
    border-image: linear-gradient(155deg, #1355d1 0%, #0eccbc 100%) 1;
    align-items: center;
    text-align: center;

    width: 100%;

}
@media(max-width: 500px)
{
#cartao{
    text-align: center;
    align-items: center;
    margin-left: 00.8em;
}
#livro{
    height: 3.6em;
}
#historia{
    margin-left: -2.0em;
}
}
.cardlinguagens{
    bottom: 3em;
    align-items: center;
    text-align: center;
    margin-left: 0.5em;
}
.card-title-ling{
    font-size: 0.8em;
}
.card-text-ling{
    font-size: 0.4em;
}
.hobbies{
    text-align: center;
    font-size: 1.4em;
    
}
.textohobbies{
    font-size: 0.5em;
    text-align:left;
    align-items: center;
    margin-left: 1.0em;
}
.contato{
    font-size: 1.2em;
}
.contatotexto{
    font-size: 0.9em;
}
footer{
    top: 3.7em;
    position: relative;
    min-height: 100px;
 background: #3586ff;
    width: 100%;  
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;

}
footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li
{
    list-style: none;
}
footer .social_icon li a
{
font-size: 1.3em;
color: white;
margin: 0 10px;
display: inline-block;
list-style: none;
transition: 0.5s;
}
footer .social_icon li a:hover{
transform: translateY(-10px);
}

footer p 
{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.6em;
}
footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave\ \(2\).png);
    background-size: 1000px 100px;
}
#contato{
    color: white;
    font-size: 2.0em;
}
#redes{
    font-size: 0.8em;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave_02 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave 3s linear infinite;
}
@keyframes animatewave
{
    0%
    {
        background-position-x:  1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animatewave_02
{
    0%
    {
        background-position-x:  0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}