*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    min-height: 1000px;
    
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/fundo.jpg);
    background-size: cover;
    object-fit: cover;
    object-position: left ;
}

.banner .content,
.ambiente .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2,
.ambiente .content h2{
    font-size: 2.5em;
    color: var(--cor-do-texto);
}
.banner .content p
.ambiente .content p{
    font-size: 1em;
    color: var(--cor-do-texto);
}

header
{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 10000;
justify-content: space-between;
display: flex;
align-items: center;
transition: 0.5s;
font-family: Arial, Helvetica, sans-serif;
}
header.sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header.sticky .logo
{
    color: #111;
}
header .logo
{
    color: whitesmoke;
    font-weight: 700;
    font-size: 2.6em;
    text-decoration: none;
}
header .logo span
{
    color: aqua;
}
span{
    color: rgb(36, 47, 206);
}
header .navigation
{
    position: relative;
     display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1.4em;
}
header.sticky .navigation li a{
    color: #111;
}
header.sticky .navigation li a:hover{
    color: aqua;
}
header .navigation li a:hover
{
    color: aqua;
}
.titulo{
    color: aqua;
    font-size: 3.5em;
    font-family: sans-serif;
}
.subtitulo{
    font-size: 1.9em;
    color: white;
    font-family: sans-serif;
}
@media(max-width: 991px)
{
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    
    header .navigation.active
    {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
       
        color: #111;
        font-size: 1.6em;
       
    }
    .menuhamburguer
    {
      position: relative;
      width: 40px;
      height: 40px;
      background: url(../img/menu.png);
      background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    }
    .menuhamburguer.active
    {
      background : url(../img/saida.png);
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
    }
    header.sticky .menuhamburguer
    {
        filter: invert(1);
    }
    
}
.titulohistoria{
    font-size: 3.2em;
    text-align: center;

}.textohistoria{
    font-size: 1.3em;
    text-align:left;
    align-items: center;
    margin-left: 2em;
    
}
/*.titulohistoria,
.textohistoria,
.imghistoria{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 0.5s ease 0.9s animacaoTitulo forwards;
  }
  @keyframes animacaoTitulo {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
}*/
.projetos{
    text-align: center;
    font-size: 1.9em;
    align-items: center;
}
#cartao{
    border: 4px solid;
    border-image: linear-gradient(155deg, #1355d1 0%, #0eccbc 100%) 1;
    align-items: center;
    text-align: center;
}

.card-text{
    font-size: 0.8em;

}

.card-title{
    font-size: 1.1em;
}
#text-calc{
    font-size: 1.0em;
}
#imagemcard{
    width: 100%;
    height: 6.4em;
}